<div class="mod_tipcoll-question">
    <h3 class="modal-title">
        {{ title }}
    </h3>
    <nav class="nav responses">
        {{# responses }}
        <button class="response" data-rid="{{ id }}">{{ title }}</button>
        {{/ responses }}
    </nav>
</div>